.app {
    background-color: #282c34;
    color: white;
    font-size: calc(10px + 1vmin);
    min-height: 100vh;
    padding: 10px;
}

.header {
    font-size: xx-large;
    font-weight: bolder;
}

.dropdowns {
    display: flex;
}

.gender-dropdown {
    padding-right: 30px;
}
